pandas ~= 2.1
# bottleneck is dependency of pandas
bottleneck ~=1.3.6
# pyarrow will become a dependency from pandas 3.0
pyarrow
pickleshare
matplotlib
numpy
pytest-bdd
pytest-cov
pytest-mock
nbconvert