pandas ~= 2.3
# bottleneck is dependency of pandas
bottleneck ~= 1.6
# pyarrow will become a dependency from pandas 3.0
pyarrow ~= 14.0, >= 14.0.1
pickleshare
matplotlib ~= 3.11
numpy ~= 1.26
pytest ~= 9.1
pytest-bdd ~= 7.3
pytest-cov ~= 4.1
pytest-mock ~= 3.16
nbconvert ~= 7.17, >= 7.17.1
ipykernel ~= 6.31
tabulate ~= 0.10

yfinance ~= 0.2, >= 0.2.65
