.wrapper {
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit * .5;
    padding-left: $spacing-unit * .5;
    @extend %clearfix;
  
    // custom override large screens do not need spacing or padding, use max-width eg 1024
    @media screen and (min-width: $on-large) {
      max-width: calc(#{$content-width});
      padding-right: 0;
      padding-left: 0;
    }
  }